<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'users')}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<h2 th:text="#{users_find}"></h2>

<form th:object="${userFilter}" th:action="@{/users}" method="get" class="form-horizontal" id="search-owner-form">
    <div class="form-group">
        <div class="control-group" id="lastNameGroup">
            <label class="col-sm-2 control-label" th:text="#{user_find}"></label>
            <div class="col-sm-10">
                <input class="form-control" th:field="*{term}" size="30" maxlength="80"/>
                <span class="help-inline">
                <div th:if="${#fields.hasAnyErrors()}">
                  <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
                </div>
              </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" th:text="#{users_find}"></button>
        </div>
    </div>

</form>

<br/>

<a sec:authorize="hasAuthority('TEACHER')" class="btn btn-default" th:href="@{/users/new}">Add Owner</a>

</body>
</html>