<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'users')}"
>

<body>


<form th:object="${courseDto}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input th:replace="~{fragments/inputField :: input (#{course}, 'courseName', 'text')}"/>

    <button type="submit" class="btn btn-primary" th:text="#{course_create}"></button>
    <button th:href="@{/courses/find}" class="btn btn-primary" th:text="#{requests_back}"></button>
</form>

</body>
</html>