<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'users')}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>


<form method="post">
    <table id="users" class="table table-striped">
        <thead>
        <th th:text="#{lessons}"></th>
        </thead>
        <tbody>
            <tr th:each="lesson,lessonStat : ${groupDto.getLessonsDto()}">
                <td>
                    <a th:text="${lessonStat.count + ' ' + themes.get(lessonStat.index).description}" th:href="@{/courses/__${courseDto.courseId}__/groups/__${groupDto.groupId}__/lessons/__${lesson.lessonId}__/students}"></a>
                </td>
            </tr>
        </tbody>
    </table>
</form>

</body>
</html>